// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$poppins: 'Poppins', sans-serif;

/*

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$roboto: 'Roboto', sans-serif;

// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$open: 'Open Sans', sans-serif;

// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$lato: 'Lato', sans-serif;

// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$montserrat: 'Montserrat', sans-serif;

// Source Sans Pro
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$source: 'Source Sans Pro', sans-serif;

// Work Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
$work: 'Work Sans', sans-serif;

*/