@keyframes pass-label-up {
    from {
        top: $rem-24;
    }
}

@keyframes pass-label-down {
    from {
        top: 0;
    }
    to {
        top: $rem-24;
    }
}

@keyframes pass-inputs-down {
    from {
        top: -$rem-24;
    }
}

@keyframes pass-input-up {
    from {
        top: 0;
    }
    to {
        top: -$rem-24;
    }
}

@keyframes refused {
    0% {
        left: 0;
    }
    20% {
        left: $rem-4;
    }
    40% {
        left: -$rem-6;
    }
    60% {
        left: $rem-6;
    }
    80% {
        left: -$rem-4;
    }
    100% {
        left: 0
    }
}

@keyframes spinne {
    to {
        transform: rotateZ(360deg);
    }
}